<div class="container">

  <div class="advisor">

    <div class="profile-image" style="background-image: url(<%= @realty.main_image %>)"></div>
    <div class="profile-details">
      <h1><%= @realty.title %></h1>
      <h2><%= @realty.description  %></h2>

      <p><%= @realty.price %></p>


      <a href="#">

        <div class="btn btn-success btn-block btn-lg" >Contatar vendedor</div>
</a>

    </div>
  </div>







</div>


